@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


header a {
  color: white
}

main {
  text_align: center;
}


.row {
    // flex-wrap: inherit;
}

.col {
  flex-grow: 0;
  margin: 0 auto;
}